/* Styling for sections */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(34, 33, 33);
  position: relative; /* Ensure sections can contain absolutely positioned elements */
}

.gold {
  background-color: #e4c96f; /* Updated gold color */
  height: 7vh; /* Adjust height for gold sections */
  border: 5px solid #E0C365; /* Gold border around the section */
}

.black {
  background-color: rgb(18, 17, 17);
  position: relative; /* Ensure navigation buttons respect this section */
  height: 30vh;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow: hidden; /* Ensure no overflow for absolute positioning */
  text-align: center; /* Center text content */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-image {
  width: 150px; /* Adjust width of the logo image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust spacing as needed */
}

.white {
  background-color: white;
  color: black; /* Preserve black font color */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  align-items: center;
}

.bottom-gold-section {
  background-color: #E0C365; /* Gold background color */
  height: 28vh; /* Adjust this height as needed */
  border: 29px solid #E0C365; /* Gold border around the section */
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: space-around; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

.bottom-section-content {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Ensure full width */
}

.bottom-section-item {
  text-align: center; /* Center align the content */
  margin-bottom: 4px; /* Add margin between sections */

}
/* Font and styling for Contact Us heading */
.bottom-section-item h2.underline-heading {
  font-family: "Inknut Antiqua", serif; /* Apply Inknut Antiqua font */
  font-size: 1.5em; /* Adjust font size as needed */
  margin-bottom: 20px; /* Add margin below the heading */
}

/* Font and styling for Follow Us heading */
.follow-heading {
  font-family: "Jomhuria", sans-serif; /* Apply Jomhuria font */
  font-size: 1.5em; /* Adjust font size as needed */
  margin-bottom: 20px; /* Add margin below the heading */
}
.contact-info {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 45px;
}
.small-icon {
  width: 50px; /* Adjust width of the icon */
  height: 50; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between icon and text */
}

.contact-info {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  margin-bottom: 29px; /* Add margin between contact info */
}

.bottom-section-item {
  text-align: center; /* Center align the content */
  margin-bottom: 60px; /* Add margin between sections */
}


.icon-container {
  display: flex;
  flex-direction: column; /* Arrange icons in a column */
  align-items: center; /* Center icons horizontally */
  margin-top: 2px; /* Adjust margin above icon container */
}

.icon-row {
  display: flex; /* Use flexbox for icon rows */
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
  margin-bottom: 0px; /* Adjust margin between icon rows */
}

.icon {
  width: 40px; /* Adjust icon size */
  height: 40px; /* Adjust icon size */
  margin: 10px; /* Adjust spacing around icons */
}

/* Adjust font size for headings in the bottom gold section */
.bottom-section-item h2 {
  font-size: 2em; /* Decrease font size for headings */
}

/* Adjust icon sizes for better mobile view */
.bottom-section-item .icon {
  width: 50px; /* Decrease icon width */
  height: 50px; /* Decrease icon height */
}

.underline-heading {
  border-bottom: 2px solid black; /* Add underline */
  padding-bottom: 5px; /* Space between text and underline */
  display: inline-block; /* Ensure underline doesn't span the entire width */
}

.small-icon {
  width: 30px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align icon with text */
  margin-right: 5px; /* Add spacing between icon and text */
}


.icon-container {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
  gap: 10px; /* Adjust spacing between icons */
}



.black-box {
  background-color: #0a0a0a;
  color: #fff;
  padding: 0px;
  border: 2px solid rgb(255, 219, 12); /* Add gold border */
  border-radius: 0; /* Remove border-radius for sharp edges */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow */
  margin: 0px auto; /* Adjust margin for positioning */
  max-width: 450px; /* Adjust maximum width as needed */
}



.black-box p {
  font-size: 15px;
  line-height: 1.59;
}
.black-box {
  text-align: justify;
}

.black-box h4 {
  text-align: center; /* Center the heading */
}


/* Styling for navigation buttons */
.navigation-buttons {
  position: absolute;
  top: 5px; /* Adjust top position as needed */
  right: 5px; /* Align to the right corner */
  display: flex;
  gap: 20px; /* Space between buttons */
}

.nav-button {
  font-size: 0.8em; /* Decrease font size */
  border: 2px solid #E0C365; /* Gold border */
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #E0C365;
  background-color: black;
}

.nav-button:hover {
  background-color: #D9B452; /* Gold background on hover */
  color: black; /* Black text on hover */
}

.gold-heading {
  font-family: "Inknut Antiqua", serif; /* Apply Inknut Antiqua font */
  font-size: 1em; /* Adjust font size as needed */
  text-align: center;
  margin-top: 20px;
}

.white-heading {
  font-family: "Inknut Antiqua", serif; /* Apply Inknut Antiqua font */
  color: #040404; /* Silver color */
  text-align: center;
  margin: 10px 0;
  text-shadow: 2px 2px 4px #fb8383, 2px 2px 4px rgb(243, 232, 26); /* Darker and lighter drop shadow */
  animation: move3D 2s ease infinite; /* Apply 3D movement animation */
}

@keyframes move3D {
  0%, 100% {
    transform: translateX(0) translateY(0) translateZ(0) rotateY(0);
  }
  25% {
    transform: translateX(-10px) translateY(-10px) translateZ(20px) rotateY(45deg);
  }
  50% {
    transform: translateX(10px) translateY(10px) translateZ(20px) rotateY(-45deg);
  }
  75% {
    transform: translateX(-10px) translateY(-10px) translateZ(20px) rotateY(45deg);
  }
}

@keyframes jumpShake {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-10px); /* Adjust jump height */
  }
}

/* Styling for links */
.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* Adjust top margin as needed */
}

.link-item {
  width: 100%;
  max-width: 1000px; /* Adjust max-width as needed */
  margin: 25px auto; /* Center and add vertical margin between each link item */
  padding: 5px;
  border-radius: 100px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(238, 232, 232, 0.2); /* Soft shadow */
}

.link-item:nth-child(1) {
  background-color: #FE0002; /* Light pink */
}

.link-item:nth-child(2) {
  background-color: #C939A7; /* Light blue */
}

.link-item:nth-child(3) {
  background-color: #20A0E1 /* Gold */
}

.link-item:nth-child(4) {
  background-color: #0BB718; /* Light green */
}

.link-item a {
  display: block;
  padding: 1px;
  text-decoration: none;
  color: rgb(236, 229, 229);
  font-size: 2.1em;
  text-align: center;
  font-family: "Jomhuria", sans-serif; /* Apply Jomhuria font */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Drop shadow effect */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link-item a:hover {
  opacity: 0.8;
  text-decoration: underline; /* Underline on hover */
}

/* Icon styling */
.icon-container {
  display: flex;
  flex-direction: column; /* Stack icons vertically */
  align-items: center; /* Center items horizontally */
  margin-bottom: 10px; /* Adjust spacing between top and bottom icons */
}

.icon {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  margin-bottom: 5px; /* Space between icons */
  vertical-align: middle; /* Align icon with text */
}


/* Styling for content in white section */
.about-content {
  font-family: "Jomhuria", sans-serif; /* Apply Jomhuria font */
  color: #333;
  text-align: center;
  margin: 20px;
}

/* New styling for bottom gold section */
.bottom-section-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bottom-section-content div {
  font-family: "Barlow", serif; /* Apply Inknut Antiqua font */
  font-size: 0.8em; /* Adjust font size */
  color: black; /* Text color */
  margin: 0 20px; /* Horizontal margin between sections */
  text-align: center; /* Center text content */
}
